# Build outputs
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Bb]uild/
build/[Dd]ebug/
build/[Rr]elease/
build/output/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/
*.code-workspace

# Rider
.idea/
*.sln.iml

# .NET
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

# InnoSetup
build/installer/*.iss.bak

# Publish
publish/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

